################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
*.sln

/src/RateWebhook/obj
/src/RateWebhook/bin

/src/QuoteEngine/obj
/src/QuoteEngine/bin

/src/Notification/obj
/src/Notification/bin

/src/Payments.App/obj
/src/Payments.App/bin

/src/Contracts/obj
/src/Contracts/bin

/src/Infrastructure/obj
/src/Infrastructure/bin